# macOS
.DS_Store

# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# Native builds
.cxx/

# Local SDK config
local.properties

# Crash logs
*.hprof

# React Native bundle
*.jsbundle