# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# Archives
*.ipa
*.dSYM

# React Native bundle
*.jsbundle

# CocoaPods
Pods/

# local env
.xcode.env.local